.launch-link-wrapper {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
  display: block;
  color: #000;
  text-decoration: none;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &.active-link {
    color: #04aa6d;
  }
}
