.sidebar-wrapper {
  position: fixed;
  width: 320px;
  height: 100vh;
  background-color: #f3f4f6;
  padding: 20px;
  overflow: auto;
  scroll-padding-bottom: 50px;

  .launches-links-wrapper {
    height: calc(100% - 60px);
    overflow: auto;
  }

  .btn-load-launches {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 280px;
  }
}
